.about-us {
  display: flex;
  padding: 0 375px;
  margin-bottom: 90px;

  &__inner {
    order: 2;
    width: 585px;

    p {
      margin: 0px;
      margin-bottom: 24px;
      width: 485px;
    }
  }

  &__inner {

    p:nth-last-child {
      margin: 0px;
    }
  }

  &__image {
    width: 300px;
    height: 408px;
    margin-left: 170px;
    margin-right: 115px;
    order: 1;
  }

  &__title {
    width: 385px;
    margin-right: auto;
    margin: 0px;
    margin-top: 27px;
    margin-bottom: 27px;
    font-size: $font-size--h2;
    line-height: $font-size--h2 + 10;
    letter-spacing: 0.06em;
    font-weight: 400;
  }
}
