$font-size--h1: 15px;
$font-size--h2: 35px;
$font-size--h3: 32px;
$font-size--h4: 13px;
$font-size--h5: 44px;
$font-size--h6: 17px;
$font-size--h7: 20px;
$font-size--h8: 12px;

$color-snow: #fafafa;
$сolor-smoky: #f6f6f6;
$color-sand: #f1cdb3;
$color-purplish: #fddcc4;
$color-text: #545454;

$font-family: "Open Sans", "Arial", sans-serif;
